{% extends 'base.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block body %}

<div class="container mt-5">
<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
              <h4 class="my-0 fw-normal"><i style="vertical-align: inherit;">
                  <i style="vertical-align: inherit;">Бесплатно</i></i></h4>
          </div>

          <div class="card-body">
            <h1 class="card-title pricing-card-title"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">$0 </i></i><small class="text-body-secondary fw-light">
                <i style="vertical-align: inherit;"><i style="vertical-align: inherit;">/мес.</i></i></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i style="vertical-align: inherit;">
                  <i style="vertical-align: inherit;">Включено 10 пользователей</i></i></li>
              <li><i style="vertical-align: inherit;">
                  <i style="vertical-align: inherit;">2 ГБ памяти</i></i></li>
              <li><i style="vertical-align: inherit;">
                  <i style="vertical-align: inherit;">Поддержка по электронной почте</i></i></li>
              <li><i style="vertical-align: inherit;">
                  <i style="vertical-align: inherit;">Доступ к справочному центру</i></i></li>
            </ul>

            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                <i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Зарегистрируйтесь бесплатно</i></i></button>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">Профи</i></i></h4>
          </div>

          <div class="card-body">
            <h1 class="card-title pricing-card-title"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">15 долл . США </i></i><small class="text-body-secondary fw-light">
                <i style="vertical-align: inherit;"><i style="vertical-align: inherit;">/мес.</i></i></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Включено 20 пользователей</i></i></li>
              <li><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">10 ГБ памяти</i></i></li>
              <li><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Приоритетная поддержка по электронной почте</i></i></li>
              <li><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Доступ к справочному центру</i></i></li>
            </ul>

            <button type="button" class="w-100 btn btn-lg btn-primary">
                <i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Начать</i></i></button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">Предприятие</i></i></h4>
          </div>

          <div class="card-body">
            <h1 class="card-title pricing-card-title"><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">$29 </i>
            </i><small class="text-body-secondary fw-light"><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">/мес.</i></i></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Включено 30 пользователей</i></i></li>
              <li><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">15 ГБ памяти</i></i></li>
              <li><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Поддержка по телефону и электронной почте</i></i></li>
              <li><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Доступ к справочному центру</i></i></li>
            </ul>

            <button type="button" class="w-100 btn btn-lg btn-primary"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">Связаться с нами</i></i></button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-4"><i style="vertical-align: inherit;">
        <i style="vertical-align: inherit;">Сравнить планы</i></i></h2>

    <div class="table-responsive">
        <table class="table text-center">

        <thead>
        <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;"><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Бесплатно</i></i></th>
            <th style="width: 22%;"><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Профи</i></i></th>
            <th style="width: 22%;"><i style="vertical-align: inherit;"><i style="vertical-align: inherit;">Предприятие</i></i></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row" class="text-start"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">Публичный</i></i></th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        <tr>
            <th scope="row" class="text-start"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">Частный</i></i></th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>
        </tbody>

        <tbody>
        <tr>
            <th scope="row" class="text-start"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">Разрешения</i></i></th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>

        <tr>
            <th scope="row" class="text-start"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">Поделиться</i></i></th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>

        <tr>
            <th scope="row" class="text-start"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">Неограниченное количество участников</i></i></th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>
        </tr>

        <tr>
            <th scope="row" class="text-start"><i style="vertical-align: inherit;">
                <i style="vertical-align: inherit;">Дополнительная безопасность</i></i></th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"></use></svg></td>

        </tr>

        </tbody>
      </table>
    </div>
  </main>
</div>
<h1>Основная страница сайта</h1>

{% endblock %}